# Local custom runtime files.
/.env
/cache/
/storage/
/logs/
/config/app/providers/
/config/app/aliases/
/config/tracy/
/config/middleware.php.sample

# Local noise.
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db
Desktop.ini
